body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 50px;
  width: 100%;
  background-color: aqua;
  padding-top: 1%;
}

.nav{
  background-color: coral;
  height: 100vh;
  width: 10%;
}

main{
  height: calc(100 - 50px);
  width: calc(100% - 10%);
  background-color: chartreuse;
}