body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 50px;
  width: 100%;
  background-color: aqua;
  padding-top: 1%;
}

.nav{
  background-color: coral;
  height: 100vh;
  width: 130px;
  padding: 0%;
}

main{
  height: calc(100vh - 50px);
  overflow: auto;
  background-color: chartreuse;
}