body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 50px;
  width: 100%;
  background-color: aqua;
  padding-top: 1%;
}

header input{
  width: 700px;
}

.nav{
  background-color: rgb(2, 4, 69);
  height: 100vh;
  width: 130px;
  padding: 0%;
  background-image: url(/assets/img/sidebar-bg.png);
}
.nav a{
  color: white;
}

main{
  display: flex;
  height: calc(100vh - 50px);
  background-color: chartreuse;
}
